node_modules
server/node_modules
server/.env*
server/.cache
server/dist
server/package-lock.json
server/google-credentials.json
client/node_modules
client/build
client/src/templates/layouts/from-hbs
client/.env.development
client/.env.production
client/package-lock.json
client/.env*
tests/**/.env
tests/**/results.json
.vscode
client/.svelte-kit
node_modules
