@tailwind base;
@tailwind components;
@tailwind utilities;

/* rest of content below */

.close {
  margin-left: auto
}

.popup-content {
  max-height: 80vh;
  overflow-y: auto;
}

.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.formStyle {
  @apply bg-gray-500 border border-gray-300 text-light-text text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 placeholder-gray-400;
}

.formStyle:disabled {
  @apply bg-gray-300 cursor-not-allowed opacity-50; /* Add styles for disabled state */
}

.formLabel {
  @apply text-gray-900 text-lg font-medium mb-1.5 block dark:text-white;
}

.formHeader {
  @apply text-gray-900 text-lg mb-1.5 block dark:text-white;
}

.greenButton {
  @apply text-white text-center font-medium rounded-lg text-sm
    hover:bg-teal-800 hover:cursor-pointer
    transition ease-in-out duration-200;   
}

.redButton {
  @apply text-white text-center font-medium rounded-lg text-sm p-2
    hover:bg-red-800;
}

.removeButton {
  @apply text-white border-2 border-slate-300 text-center font-medium rounded-lg text-sm px-5 py-2.5 m-1
    hover:bg-red-800;
}

.disabledButton {
  @apply text-white border-2 border-slate-300 text-center font-medium rounded-lg text-sm px-5 py-2.5 m-1;
}

.addButton {
  @apply text-white text-center border-2 border-slate-300 font-medium rounded-lg text-sm px-5 py-2.5 m-1
    hover:bg-teal-800 hover:cursor-pointer
    transition ease-in-out duration-200;   
}

.submitButton {
  @apply text-white text-center font-medium rounded-lg text-sm w-full px-5 py-2.5 m-1 h-12
    hover:bg-accent-gold hover:cursor-pointer hover:text-dark-text
    transition ease-in-out duration-300;
}

.generateButton {
  @apply text-white text-center font-medium rounded-lg text-sm w-full px-5 py-2.5 m-1 h-12
    hover:bg-accent-blue hover:cursor-pointer hover:text-light-text
    transition ease-in-out duration-300;
}

.saveButton {
  @apply text-white text-center font-medium rounded-lg text-sm w-full px-5 py-2.5 m-1 h-12
    hover:bg-teal-800 hover:cursor-pointer hover:text-light-text
    transition ease-in-out duration-300;
}

@media print {
  body {
    width: 8.5in;
    height: 11in;
  }

  .print-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
}
