#resume {
    margin: 0 auto;
    padding: 80px 100px;
    background: #fff;
    font: 14px "Times New Roman", Times, sans-serif;
    color: #222;
    line-height: 1.4;
}

.coursesList {
    width: 28%;
    vertical-align: top;
    display: inline-block;
}

.largeFont {
    font-size: 20px;
}

.smallFont {
    font-size: 13px;
}

.sectionBlock {
    display: flex;
    width: 100%;
}

.sectionName {
    width: 18%;
    vertical-align: top;
    display: inline-block;
}

.sectionContent {
    width: 80%;
    vertical-align: top;
    display: inline-block;
}

.sectionContent ul {
    padding-left: 20px;
    margin-top: 6px;
    list-style-type: circle;
}

.sectionContent .title {
    font-weight: bold;
}

.sectionContent .date {
    float: right;
}

.sectionContent .separator {
    height: 14px;
}

.sectionLine {
    border-style: dashed;
    border-width: 1px;
    border-color: #CFCFCF;
    margin-top: 10px;
    margin-bottom: 10px;
}

.divider {
    font-weight: bold;
    margin-left: 5px;
    margin-right: 5px;
}

.summary {
    margin-top: 6px;
}

.skillBlock {
    margin-bottom: 4px;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}

.jobBlock {
    page-break-inside: avoid;
}

.description {
    text-align: justify;
}

blockquote.reference {
    margin: 0;
    margin-bottom: 1em;
}

.name {
    font-size: 24px;
}

.skill {
    margin-bottom: 2px;
}


/* Media Queries */

@page {
    size: A4;
    margin: 0;
}
@media print {
    html, body {
        width: 210mm;
        height: 297mm;
    }
}
